name: "CI"

on: push

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install poetry
      - run: poetry install --no-root
      - run: poetry run pytest
        env:
          DATABASE_URL: "sqlite:///./test.db"
          TEST_DATABASE_URL: "sqlite:///./test.db"
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          ACCESS_TOKEN_EXPIRE_MINUTES: 30
          ALGORITHM: HS256
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
